[Oo]bj
[Bb]in
proj2/build/win32/vs2012/Tests
proj2/build/win32/vs2012/Debug
*.sdf
*.user
*.suo
*.obj
*.[Cc]ache
*.bak
*.pdb
*.tlog
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
pingme.txt
